# Generated output and dependencies
build/
node_modules/

# Keep Docusaurus frontmatter quotes untouched in docs
**/*.md
**/*.mdx

# Do not touch some of the config files
package.json
package-lock.json
tsconfig.json
